* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 768px)";

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 85%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.legend {
  text-align: left;
  line-height: 20px;
  color: #555;
  margin: 0 0 10px 10px;

  hr {
    border: none; 
    border-bottom: 1px dashed #ccc;

    @media @tablet {
      display: none;
    }
  }

  label {
    display: block;

    @media @tablet {
      float: left;
      width: 15%;
      margin-bottom: 4px;
    }

    @media @mobile {
      width: 30%;
    }
  }

  i {
    width: 25px;
    height: 20px;
    float: left;
    margin-right: 8px;
  }
}

.legendarea {
  float: left;
  margin-top: 120px;
  width: 80px;
  margin-right: 20px;

  @media @tablet {
    margin-top: 40px;
    display: block;
    float: none;
    width: 100%;
    clear: both;
  }
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  margin: 3px;
}

br {
  clear: both;
}

#landline_container {
  width: ~"calc(100% - 110px)";
  float: left;
  margin-left: auto;
  margin-right: auto;

  @media @mobile {
    float: none;
    display: block;
    width: 100%;
    clear: both;
  }
}

.container {
  width: 100%;
  max-width: 930px;
}


.hover {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  width: 100%;
  max-height: 90px;
  height: 90px;
  text-align: center;
  top: 0;
  left: 0;

  @media @mobile {
    padding: 8px;
    text-align: left;
  }
}

.cat {
  padding: 8px 5px;
  width: 30%;
  float: left;

  @media @mobile {
    width: 100%;
    padding: 0;
  }

  &.small {
    width: 15%;
    @media @mobile {
      width: 100%;
    }
  }

  .desc {
    font-size: 90%;
    text-transform: uppercase;
    color: #555;
    display: inline;


    @media @mobile {
      font-size: 100%;
      text-transform: none;
      &::after {
        content: ":";
      }
    }
  }

  .subhead {
    display: block;
    text-transform: none;

    @media @mobile {
      display: inline;

      &::before {
        content: " (";
      }

      &::after {
        content: ")";
      }
    }
  }

  .titlenum {
    font-weight: bold;
    font-size: 130%;
    color: #222;
    padding-top: 3px;
    white-space: nowrap;

    @media @mobile {
      font-size: 100%;
      display: inline;
    }
  }
}


.statename {
  text-transform: uppercase;
  padding: 0 0 5px 0;
  //border-bottom: 1px solid #DDD;
  margin-bottom: 5px;
  color:#767f8f;
  color: #222;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  margin-right: auto;

  @media @mobile {
    text-align: left;
  }
}